body {
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 570px;
}

#search-input {
  width: 90%;
}

#bookmark-list-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.bookmark-list-item {
  margin: 5px 0px;
}
